 
 <div>
    <div class = "container row">
      <div class = "timer">
  
        {{currentValue}}
  
      </div>
      <div class = "timerResult">
      </div>
    </div>
    <div class = "buttonCont">
        <h *ngIf = isStart> <button class = "btn" (click) = "start()">Start</button> </h>
        <h *ngIf = !isStart> <button class = "btn" (click) = "stop()">Stop</button> </h>
        <button class = "btnWait"  >Wait</button> 
        <button class = "btn" (click) = "reset()">Reset</button> 

    </div>
  </div>
  
  
  


